
<div class="example-container">

  



    <mat-form-field>

        <input matInput placeholder="Nome">
    </mat-form-field>
    
    <mat-form-field>

        <input matInput placeholder="E-mail">
    </mat-form-field>
    
    <mat-form-field>

        <input matInput placeholder="CPF">
    </mat-form-field>
    

    <mat-checkbox>Estrangeiro?</mat-checkbox>

    
    <mat-form-field>

        <input matInput placeholder="Passaporte">
    </mat-form-field>

          <button mat-stroked-button>Cadastrar</button>
</div>

