<mat-card>
    Login
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Usuario">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Digite a senha" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

    </div>
    <button mat-stroked-button	>Login</button>

</mat-card>
